@page
@model app.Pages.Tasks.IndexModel
@{
    ViewData["Title"] = "Tasks";
    ViewData["Heading"] = "Tasks";
}

@section Breadcrumb {
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="" asp-page="/Index">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Tasks</li>
    </ol>
}

<ul>
    @foreach (var list in Model.Lists)
    {
        @await Html.PartialAsync("_TaskList", list)
    }
</ul>

<h2>More pages</h2>
<ul>
    <li><a asp-page="/Tasks/Stats">Stats</a></li>
</ul>
