@page "/Tasks/{handler}"
@model app.Pages.Tasks.ListModel
@{
    ViewData["Title"] = Model.Title + " - Tasks";
    ViewData["Heading"] = Model.Title;
}

@section Breadcrumb {
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="" asp-page="/Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-area="" asp-page="/Tasks/Index">Tasks</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Model.Title</li>
    </ol>
}

<label class="tasks-show-completed mr-3"><input type="checkbox"> Show completed tasks</label>
<label class="tasks-show-unimportant mr-3"><input type="checkbox"> Show unimportant tasks</label>

<ul class="tasks list-unstyled m-0">
    @foreach (var task in Model.Tasks)
    {
        @await Html.PartialAsync("_Task", task, new ViewDataDictionary(ViewData) { { "Nested", Model.Nested } })
    }
</ul>

<script src="~/js/pages/task-list.js" type="module" asp-append-version="true"></script>
