@page
@model EmailModel
@{
    ViewData["Title"] = "Email";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="" asp-page="/Index">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Email</li>
    </ol>
</nav>

<h2>Recent conversations</h2>
<ul>
    @foreach (var conversation in Model.Conversations)
    {
        <li>
            <a asp-area="" asp-page="/Email/Conversation" asp-route-conversation="@conversation">@conversation</a>
        </li>
    }
</ul>
