@page
@model app.Pages.IndexModel
@{
    ViewData["Title"] = "Home";
    ViewData["Heading"] = "";
}

<div class="text-center">
    <img src="~/svg/high quality.svg" asp-append-version="true" class="img-fluid logo">
    <h1 class="display-4">Welcome</h1>
</div>

<h1>Favourites</h1>

<ul id=favourites-list></ul>
<p><em>Use the star in the top-right corner of any page to add a link here</em></p>
