@page
@model app.Pages.IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <img src="~/svg/high quality.svg" asp-append-version="true" class="img-fluid logo">
    <h1 class="display-4">Welcome</h1>
</div>
