@page
@model app.Pages.Microsoft.Email.ConversationModel
@{
    ViewData["Title"] = Model.ConversationName + " - E-mail - Microsoft";
    ViewData["Heading"] = Model.ConversationName;
}

@section Breadcrumb {
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="" asp-page="/Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-area="" asp-page="/Microsoft/Index">Microsoft</a></li>
        <li class="breadcrumb-item"><a asp-area="" asp-page="/Microsoft/Email/Index">E-mail</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Model.ConversationName</li>
    </ol>
}

<ul class="list-unstyled messages">
    @foreach (var message in Model.Messages)
    {
        @await Html.PartialAsync("_EmailMessage", message)
    }
</ul>

<script src="~/js/pages/conversation.js" type="module" asp-append-version="true"></script>
