@page
@model app.Pages.Microsoft.Email.FolderModel
@{
    ViewData["Title"] = Model.Folder.DisplayName + " - E-mail - Microsoft";
    ViewData["Heading"] = Model.Folder.DisplayName;
}

@section Breadcrumb {
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="" asp-page="/Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-area="" asp-page="/Microsoft/Index">Microsoft</a></li>
        <li class="breadcrumb-item"><a asp-area="" asp-page="/Microsoft/Email/Index">E-mail</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Model.Folder.DisplayName</li>
    </ol>
}

<ul class="list-unstyled navigation-series">
    @foreach (var conversation in Model.Conversations)
    {
        @await Html.PartialAsync("_EmailConversation", conversation)
    }
</ul>
