@page
@model app.Pages.Microsoft.Email.IndexModel
@{
    ViewData["Title"] = "E-mail - Microsoft";
    ViewData["Heading"] = "Microsoft E-mail";
}

@section Breadcrumb {
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="" asp-page="/Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-area="" asp-page="/Microsoft/Index">Microsoft</a></li>
        <li class="breadcrumb-item active" aria-current="page">E-mail</li>
    </ol>
}

<ul>
    @foreach (var folder in Model.Folders)
    {
        @await Html.PartialAsync("_EmailFolder", folder)
    }
</ul>
