@model app.Models.TaskModel

<li class="@Model.Classes">
    <div class="task__item d-flex">
        @if (Model.IsCompleted)
        {
            <i class="px-1 bi bi-check-circle-fill text-green"></i>
        }
        else
        {
            <i class="px-1 bi bi-circle text-grey"></i>
        }
        @if (Model.IsImportant)
        {
            <i class="px-1 bi bi-star-fill text-blue"></i>
        }
        else
        {
            <i class="px-1 bi bi-star text-grey"></i>
        }
        <span class="px-1 flex-fill text-truncate">@Html.Raw(Model.TitleHtml)</span>
        @if (Model.IsCompleted)
        {
            <span class="px-1 flex-shrink-0 datetime-local" data-ts="@Model.Completed?.ToString("o")"></span>
        }
    </div>
    <ul class="task__children list-unstyled m-0 ml-5">
        @foreach (var task in Model.Children)
        {
            @await Html.PartialAsync("_Task", task)
        }
    </ul>
</li>
