@page
@model app.Pages.Microsoft.Tasks.IndexModel
@{
    ViewData["Title"] = "Tasks - Microsoft";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="" asp-page="/Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-area="" asp-page="/Microsoft/Index">Microsoft</a></li>
        <li class="breadcrumb-item active" aria-current="page">Tasks</li>
    </ol>
</nav>

<h1>Microsoft Tasks</h1>

<ul>
    <li><a asp-page="/Microsoft/Tasks/Stats">Stats</a></li>
</ul>
