@page
@model app.Pages.Microsoft.Tasks.ListModel
@{
    ViewData["Title"] = Model.List.DisplayName + " - Tasks - Microsoft";
    ViewData["Heading"] = Model.List.DisplayName;
}

@section Breadcrumb {
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="" asp-page="/Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-area="" asp-page="/Microsoft/Index">Microsoft</a></li>
        <li class="breadcrumb-item"><a asp-area="" asp-page="/Microsoft/Tasks/Index">Tasks</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Model.List.DisplayName</li>
    </ol>
}

<ul class="list-unstyled">
    @foreach (var task in Model.Tasks)
    {
        <li class="d-flex @task.Classes">
            @if (task.IsComplete) { <i class="px-1 bi bi-check-circle-fill text-green"></i> } else { <i class="px-1 bi bi-circle text-grey"></i> }
            @if (task.IsImportant) { <i class="px-1 bi bi-star-fill text-blue"></i> } else { <i class="px-1 bi bi-star text-grey"></i> }
            <span class="px-1 flex-fill text-truncate">@task.Title</span>
            @if (task.Completed != null)
            {
                <span class="px-1 flex-shrink-0 datetime-local" data-ts="@task.Completed?.ToString("o")"></span>
            }
        </li>
    }
</ul>
