@page
@model app.Pages.Microsoft.IndexModel
@{
    ViewData["Title"] = "Microsoft";
    ViewData["Heading"] = "Microsoft Services";
}

@section Breadcrumb {
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="" asp-page="/Index">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Microsoft</li>
    </ol>
}

<p>
    Logged in as @Model.UserName (@Model.UserID)
</p>

<ul>
    <li><a asp-page="/Microsoft/Email/Index">E-mail</a></li>
    <li><a asp-page="/Microsoft/Tasks/Index">Tasks</a></li>
</ul>
